<%- include ('partials/header') %>
  <!-- Page Content -->
  <div class="container">
    <% noticias.forEach(noticia =>{ %>
      <div class="news">
        <a href="/admin/noticias/detail/<%- noticia._id %>">

          <img src="/images/notices/<%-noticia.image %>" alt="<%-noticia.title %>">         
          <div class="news-content">
            <h2><%= noticia.title %></h2>
            <p><%= noticia.content %></p>
          </div>

        </a>
      </div>
      <% }) %>
  </div>
  <!-- /.container -->

<%- include ('partials/footer') %>