<%- include ('../partials/header') %>

  <div class="container"> <br/>
    <h1>Notícias Encontradas:</h1>
    <% noticias.forEach(noticia =>{ %>
    <div class="news">
      <a href="/noticias/<%- noticia._id %>">

        <img src="/images/notices/<%-noticia.image %>" alt="<%-noticia.title %>">
        <div class="news-content">
          <h2><%= noticia.title %></h2>
          <p><%= noticia.content %></p>
        </div>

      </a>
    </div>
    <% }) %>
       
  </div>

<%- include ('../partials/footer') %>