<%- include ('../partials/header') %>
<!-- Page Content -->

<div class="container">

  <div class="row">

    <!-- /.col-lg-3 -->
    <div class="col-lg-12 ">
      <h1 class="m-0 text-center">Notícias Encontradas:</h1><br/>
      <div class="row">
        <% noticias.forEach(noticia =>{ %>
        <div class="col-lg-4 col-md-6 mb-4  text-center">
          <div class="card h-100 card2">
            <a href="/noticias/<%- noticia._id %>"><img class="card-img-top" src="/images/notices/<%-noticia.image %>" alt="<%-noticia.title %>"></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="/noticias/<%- noticia._id %>"><%= noticia.title %></a>
              </h4>
              <p>
                <a href="/admin/noticias/update/<%- noticia._id %>" class="btn btn-primary">Editar</a>
                <a href="/admin/noticias/delete/<%- noticia._id %>" class="btn btn-secondary"
                  onclick="return confirm('Você realmente quer excluir?')">Excluir</a>
              </p>    
            </div>
          </div>
        </div>
        <% }) %>
      </div>
      <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

<%- include ('../partials/footer') %>