<%- include ('../partials/header') %>

  <div class="container"> <br/>
    <h1>Notícias Encontradas:</h1>
    <div class="allNews">
      <% noticias.forEach(noticia =>{ %>
      <div class="news">
        <a href="/admin/noticias/detail/<%- noticia._id %>">

          <img src="/images/notices/<%-noticia.image %>" alt="<%-noticia.title %>">
          <div class="news-content">
            <h2><%= noticia.title %></h2>
          </div>

        </a>
      </div>
      <% }) %>
    </div>  
  </div>

<%- include ('../partials/footer') %>