<%- include ('../partials/header') %>

  <div class="container">

    <% let tipoNoticia %>
    <% if (categoryNotice == 'admin'){ tipoNoticia = 'Notícias Administrativas' } %>
    <% if (categoryNotice == 'private'){ tipoNoticia = 'Notícias Privadas' } %>
    <% if (categoryNotice == 'public'){ tipoNoticia = 'Notícias Públicas' } %> 

    <br><h1><%- tipoNoticia %></h1>
    <a href="/admin/noticias/create" class="button">Adicionar nova notícia</a>
    <div class="allNews">
      <% noticias.forEach(noticia =>{ %>
        <div class="news">

          <a href="/admin/noticias/detail/<%- noticia._id %>"> 
            <img src="/images/notices/<%-noticia.image %>" alt="<%-noticia.title %>">
          
            <div class="news-content">
              <h2><%= noticia.title %></h2>        
            </div>  
          </a>
          <p class="button-admin">
            <a class="button" href="/admin/noticias/update/<%- noticia._id %>">Editar</a>
            <a class="button button-google" href="/admin/noticias/delete/<%- noticia._id %>"
              onclick="return confirm('Você realmente quer excluir?')">Excluir</a>
          </p>
  
        </div>
      <% }) %>
    </div>
  </div>


<%- include ('../partials/footer') %>