<%- include ('../partials/header') %>

  <div class="container">

    <% let tipoNoticia %>
    <% if (categoryNotice == 'admin'){ tipoNoticia = 'Notícias Administrativas' } %>
    <% if (categoryNotice == 'private'){ tipoNoticia = 'Notícias Privadas' } %>
    <% if (categoryNotice == 'public'){ tipoNoticia = 'Notícias Públicas' } %>

    <br/><h1><%- tipoNoticia %></h1>
    <% noticias.forEach(noticia =>{ %>
      <div class="news">
        
        <a href="/admin/noticias/detail/<%- noticia._id %>">

          <img src="/images/notices/<%-noticia.image %>" alt="<%-noticia.title %>">        
          <div class="news-content">
            <h2><%= noticia.title %></h2>
            <p><%= noticia.content %></p>
          </div>

        </a>
      </div>
    
    <% }) %>
  </div>

<%- include ('../partials/footer') %>