<%- include ('../partials/header') %>

<div class="container"><br/>
  
  <div class="news">

    <img src="/images/notices/<%- noticia.image %>" alt="<%- noticia.title %>">

    <div class="news-content">
      <h2><%- noticia.title %></h2>
      <p><%- noticia.content %></p>
    </div>

  </div>

</div>
<!-- /.container -->
<%- include ('../partials/footer') %>