<%- include ('../partials/header') %>
<!-- Page Content -->
<div class="container">

  <div class="row">

    <!-- /.col-lg-3 -->

    <div class="col-lg-12">
      <a href="javascript:history.back()" class="btn btn-secondary">Voltar</a>
      <div id="card-stack" class="card mt-4">
        <img class="card-img-top img-fluid" src="/images/notices/<%- noticia.image %>" alt="<%- noticia.title %>">
        <div class="card-body">
          <h3 class="card-title"><%- noticia.title %></h3>
          <p class="card-text"><%- noticia.content %></p>
        </div>
      </div><br>

      <!-- /.card -->

    </div>
    <!-- /.col-lg-9 -->

  </div>

</div>
<!-- /.container -->
<%- include ('../partials/footer') %>